.settings {
	/* animation: animateMovieinfo 5s; */
	animation-name: example;
	animation-duration: 1s;
	position: relative;
   background-color: #e6e9de;

}

@keyframes animateMovieinfo {
	from {
		/* opacity: 0; */
		top: 500;
	}
	to {
		/* opacity: 1; */
		top: 0;
	}
}
@keyframes example {
	0% {
		opacity: 0;
		left: 0px;
		top: -1000px;
	}

	100% {
		opacity: 1;
		left: 0px;
		top: 0px;
	}
}


.none {
	display: none;
}
