.settings {
	/* animation: animateMovieinfo 5s; */
	animation-name: example;
	animation-duration: 1s;
	position: relative;
	background-color: #e6e9de;
}

@keyframes animateMovieinfo {
	from {
		/* opacity: 0; */
		top: 500;
	}
	to {
		/* opacity: 1; */
		top: 0;
	}
}
@keyframes example {
	0% {
		opacity: 0;
		left: 0px;
		top: -1000px;
	}

	100% {
		opacity: 1;
		left: 0px;
		top: 0px;
	}
}

.none {
	display: none;
}

.menu {
	display: none;
}
@media (max-width: 500px) {
	.menu {
		position: absolute;
		width: 300px;
		height: 500px;
		border: 1px solid black;
		left: 0;
		top: 100%;
		background-color: rgb(255, 0, 0);
		opacity: 0.6;
		display: flex;
		flex-direction: column;
	}
}

.display-none {
	display: none;
}
